<div class="header" >
  <h1 class="title">最重要的保护，由我们为您把守</h1>
  <p class="slogan">
    服务器没有保障就象人失去了健康，请把安全交给我们，放心去追逐你最绚烂的梦想吧。
  </p>
  <p><%= link_to "马上体验", products_path, class:"btn btn-lg btn-danger" %></p>
</div>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <h3>安全无忧 清净省心</h3>
  <p><em>We protect you</em></p>
  <p>我们重新思考了一种全新的体验，简化了大部分流程，让你一键可以检查电脑上的垃圾文件，安全状态，木马病毒和软件更新情况</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>专业</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src=<%= image_path("safe-status.png") %> class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>7*24不间断服务</p>
        <p>10000名专业工程师</p>
        <p>40余种安全服务产品</p>
      </div>
  </div>
  <div class="col-sm-4">
    <p class="text-center"><strong>快速</strong></p><br>
    <a href="#demo2" data-toggle="collapse">
      <img src=<%= image_path("system-status.png") %> class="img-circle person" alt="Random Name" width="255" height="255">
    </a>
    <div id="demo2" class="collapse">
      <p>7*24不间断服务</p>
      <p>10000名专业工程师</p>
      <p>40余种安全服务产品</p>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-center"><strong>经济</strong></p><br>
    <a href="#demo3" data-toggle="collapse">
      <img src=<%= image_path("anti-phishing.png") %> class="img-circle person" alt="Random Name" width="255" height="255">
    </a>
    <div id="demo3" class="collapse">
      <p>7*24不间断服务</p>
      <p>10000名专业工程师</p>
      <p>40余种安全服务产品</p>
    </div>
  </div>
</div>
</div>

<!-- Container (TOUR Section) -->
<div id="tour" class="bg-1">
<div class="container">
<h3 class="text-center">免费上门检测申请</h3>
<p class="text-center">请留下阁下的联系信息<br> 我们将尽快与您联系</p>

<div class="row">
  <div class="col-md-4">
    <p>希望到店考察？</p>
    <p><span class="glyphicon glyphicon-map-marker"></span>江苏，中国</p>
    <p><span class="glyphicon glyphicon-phone"></span>Phone: 025-83288716</p>
    <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@189.cn</p>
  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-6 form-group">
        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
      </div>
      <div class="col-sm-6 form-group">
        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
      </div>
    </div>
    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
    <br>
    <div class="row">
      <div class="col-md-12 form-group">
        <button class="btn pull-right" type="submit">发送</button>
      </div>
    </div>
  </div>
</div>
<br>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
    </div>
    <div class="modal-body">
      <form role="form">
        <div class="form-group">
          <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
          <input type="number" class="form-control" id="psw" placeholder="How many?">
        </div>
        <div class="form-group">
          <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
          <input type="text" class="form-control" id="usrname" placeholder="Enter email">
        </div>
          <button type="submit" class="btn btn-block">Pay
            <span class="glyphicon glyphicon-ok"></span>
          </button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
        <span class="glyphicon glyphicon-remove"></span> Cancel
      </button>
      <p>Need <a href="#">help?</a></p>
    </div>
  </div>
</div>
</div>
</div>

<!-- Container (Contact Section) -->
<<div id="contact" class="container">
  <h3 class="text-center">客户怎么说</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">南京市人民检察院</a></li>
    <li><a data-toggle="tab" href="#menu1">浙江省人民政府</a></li>
    <li><a data-toggle="tab" href="#menu2">上海市公安局</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>南京市人民检察院信息中心</h2>
      <p>“我们相信，天网云盾可以保障每个人都有权利不受网络安全的困扰。”</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>浙江省人民政府政务中心</h2>
      <p>“我们相信，天网云盾可以保障每个人都有权利不受网络安全的困扰。”</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>上海市公安局信通处</h2>
      <p>“我们相信，天网云盾可以保障每个人都有权利不受网络安全的困扰。”</p>
    </div>
  </div>
</div>
